body
{
	background-image: url('images/receiptbg.jpg');
	background-repeat: no-repeat;
	background-size: 535px 693px;
	background-attachment: fixed;
	background-position: center;
	background-color: lightgray;
}

#inv_title
{
	width: 155px;
	height: 45px;
	margin-left:33.5%;
	margin-top: 2.25%;
}

#tops
{
	color: white;
	line-height:0px;
	margin-right: 36%;
	margin-top: 2.7%;
	float:right;
	font-weight: bold;
	text-align:center;

}

.top_amount
{
	font-family: arial;
	letter-spacing:2px;
	font-size: 15px;
	text-align:center;
	
}

#top_amnt
{
	background-color:#50347f;
	border-style: none;
	color:white;
	width: 72px;
	margin-top: -10px;
	font-size: 15px;
	font-weight: bold;
}

#top_amnt::placeholder
{
	color: white;
	
	font-weight: bold;
}

.top_title
{
	margin-top:-10px;
	font-family: Arial Narrow;
	font-size: 10px;
}

#table_one
{
	font-weight: bold;
	font-family: Arial Narrow;
	float:left;
	margin-left:36.25%;
	margin-top:2.5%;
	font-size:14px;
}

.non-bold
{
	font-weight: normal;
}

#comp_logo
{
	float: right;
	width: 120px;
	height:100px;
	margin-right:35.3%;
	margin-top: 6.5%;
}

#table_two
{
	clear:left;
	float:left;
	margin-top:10px;
	margin-left:35%;
	font-family: Arial;
	border-collapse: collapse;
	width:29.4%;

}


td
{
	padding:5px;
}

.center_tds
{
	text-align: center;
}

.dark_purp
{
	letter-spacing: 0px;
	color: white;
	background-color: #50347f;
	font-stretch: semi-condensed;
	font-size: 13px;	

}

.white_row
{
	letter-spacing: 1px;
}

.light_purp
{
	letter-spacing: 1px;
	background-color:#f5effd;
}

.tot_col
{
	text-align:right;
}

.subtot_row
{
	font-weight: bold;
	font-size:12px;
}

.grandtot_row
{
	background-color: #f5effd;
	font-weight: bold;
	font-size:12px;
}

.big_tds
{
	font-size:20px;
}

.bold_tds
{
	font-weight: bold;
	text-align:center;
}

#bottom_words
{
	font-family: Arial Narrow;
	font-size: 13px;
	clear: left;
	clear:top;
	clear:right;
	margin-top:30%;
	margin-left: 37%;
}

.nrwbld_text
{
	font-weight:bold;
	line-height:5px;
	margin-top: 4%;
}


footer
{
	font-size:10px;
	font-family: Arial Narrow;
	color: black;
	margin-top: 1.5%;
	margin-left: 36%;
}

.bigbold_txt
{
	
	margin-top: 3.8%;
	font-size: 25px;
	font-weight: bold;
	font-family: Arial;
	line-height: 0px;
}

.smllbold_txt
{
	font-weight: bold;
	line-height: 0px;
}

#sign_right
{
	clear:left;
	clear:right;
	clear:top;
	clear:bottom;
	float:right;
	margin-top: -8.6%;
	margin-right:40%;
	
}

.smllcaps_txt
{
	clear:left;
	clear:right;
	clear:top;
	font-family:Arial Narrow;
	font-weight:bold;
	font-size:11px;
	margin-left: 30%;
	margin-top:-6%;
	margin-bottom:10%;
}

#newSignature
{
	clear:left;
	clear:right;
	clear:top;
	clear: bottom;
	width:110px;
	height:70px;
	margin-left:29%;
	border: 1px solid #CCCCCC;
	cursor: crosshair;

	
}

/* Below specifically for Form Specifications*/

input
{
	
	border-style: none;
}

#prc2 , #prc, #prct, #prct2
{
	width: 63px;
}

#prc2, #prct2
{
	background-color:#f5effd;
}

#due_dt
{
	width:130px;
}

#qty_no, #qty_no2
{
	text-align:center;
	width:40px;
}

#sub_tot, #tax_tot
{
	width:65px;
}

#grand_tot
{
	font-size: 20px;
	width: 90px;
	background-color:#f5effd;
}

#qty_no2
{
	background-color:#f5effd;
}

select
{
	border-style: none;
	background-color: transparent;
}

button
{
	float:right;
	margin-right:38%;
	margin-top:-2.5%;
}

#address
{
	width: 110px;
	height:30px;
	resize: none;
	font-size:12px;
	font-family: Arial Narrow;
	line-height:8px;
	border-style: none;
}









